.main-header{
    border-bottom: 1px solid $border-color;
    white-space: nowrap;
    flex-shrink: 0;
    @include flex(flex,flex-start,center);
    height: 3.625rem;
    .menu-link-main{
        color: $theme-color;
        text-transform: capitalize;
        padding: 0 1.8rem;
        text-decoration: none;
    }
    .header-menu{
        margin-left: 150px;
       .main-header-link{
            padding: 1rem 1.3rem;
            text-decoration: none;
            color: $inactive-color;
            border-bottom: 2px solid transparent;
            text-transform: capitalize;
            transition: 0.3s;
            &:hover{
                border-bottom: 2px solid white;
                color: white;
            }
            &.active{
                border-bottom: 2px solid white;
                color: white;
            }
       }
    }
}