@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    outline: none;
    box-sizing: border-box;
}

html {
    font-size: 15px;
    scroll-behavior: smooth;
}

.container {
    padding: 1rem;
}

::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    background: $scrollbar-bg;
    border-radius: 10px;
}
.app{
    background-color: $theme-bg-color;
    height: 95vh;
    width: 100%;
    border-radius: 14px;
    backdrop-filter: blur(20px);
    font-weight: 500;
    overflow: hidden;
}
.wrapper{
    display: flex;
    overflow: hidden;
    height: 100%;
}


.main-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  
}
.content-wrapper{
    display: flex;
    flex-direction: column;
    color: $theme-color;
    padding: 1rem 2.5rem;
    height: 100%;
    margin-bottom: 4rem;
    overflow: auto;
    background-color: $theme-bg-color;
   
}
.content-section{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}