.content-button{
    background-color: #3a6df0;
    border: none;
    color: #fff;
    border-radius: 20px;
    margin-top: 16px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 0.8rem;
    white-space: nowrap;
    padding: 8px 25px;
    max-width: 10rem;
    &:hover{
    background-color: #2855c7;

    }
    &.status-button{
        background-color: transparent;
        color: $inactive-color;
        border: 1px solid $inactive-color;
    margin-top: 0;

    }
}